body,#mainImage,#mainBackground{
    margin: 0px;
    padding: 0px;
   
}
*{
     font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
     color:darkslategrey;
}
#container {
    max-width: 1349px;
    margin: auto;
}
body {
    font: normal 100% Helvetica, Arial, sans-serif;
    text-align: center;
    align-content: center;
}

html body{
     font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

#nav{
    float: right;
    position: absolute;
}
#mainImage{

    width:100%;
    height:100%;
    
 
}


#mainBackground{
 
    position: relative;
    text-align: center;
    background-size: cover;
    color: white;
    width:1349px;
    height:662px;
  //  border:3px red solid;
    margin:0px;
    padding:0px;
 

}


.navMenu{
    position: absolute;
    color:darkslategrey;
    font-size: 20px;
    top:40px;
    cursor: pointer;
}

.choices{
     color: darkslategrey;
     cursor: pointer;
     
}
#about{
    right:18%;
}
#contri{
    right:10.6%;
}
#ref{
    right:1%
}


#topBar{
    position: absolute;
    top: 5%;
    left:30%;
    text-align: center;
    width:40%;
    
    color:darkslategrey;
    font-size: 40px;
    
    
    
}
#logoImage{
    position: absolute;
    width:80px;
    height:80px;
    top:5%;
    left:2%;
}
#topContent{
    position: absolute;
    width:100%;
    text-align: center;
    top:27%;

    line-height: 160%;
    color:darkslategrey;
     font-size: 25px;
}
#tbCh {
  border-collapse: separate;
  border-spacing: 50px 0;
     color:darkslategrey;
}

#tbCh.td {
  padding: 10px 0;
}
#chMain{
    position: absolute;
    margin-left: 28.8%;
    top:52%;
   color:darkslategrey;
    font-size: 23px
}
#popCo{
    
    text-align:center;font-size:35px;margin-top:40px;
    color:darkslategrey;
}

#aboutUsDiv{
    position: relative;
    height: 500px;
//   border:3px red solid;
    
}
.strip{
    
    width:100%;
    height:50px;
    //border:3px red solid;
    background:#f3f9bb; 
    text-align: center;
    color:darkslategray;
    font-size: 28px;
   // margin:15px;
    
}
.conStrip{
  line-height: 50px;
}
#aboutUsImage{
    width:100%;
    height: 100%;
}
#imgCont{
    position: relative;
    width:100%;
    height:100%;
}
.ab{
    position: absolute;
    
    top:7%;
    
}


.Info{
    font-size: 1.1vw;
    top:22%;
   // margin-top: 1%
}
.contriItems{
    font-size:18px;
    color:white;
    text-align: left;
    
}
#missionDiv{
    height:60%;   
     //border: 3px red solid;
}
#missionContent{
  //  position: absolute;
    //top:30%;
    color:darkslategrey;
    font-size: 18px;
    text-align:justify;
      margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
//     border: 3px red solid;
    //background-color: cyan;
  
}
#refer{
    
//    margin-left:25px;
    height:40%
    width:100%;
    color:darkslategray;
  //   border: 3px red solid;
    
}
#refCon{
    
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 3%;
    // border: 3px red solid;
    
}
.bord{
    //border: 3px red solid;
}